body{
    font: normal 18px/1.5 "Fira Sans", "Helvetica Neue", sans-serif;
    background: #3BBFBA;
    color: #000000;
    padding: 50px 0;
}

h1{
    color: #f2f2f2;
    text-align: center;
}

.container{
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

.container *{
    box-sizing: border-box;
}

.flex-out,
.flex-inner{
    list-style-type: none;
    padding: 0;
}

.flex-outer{
    max-width: 800px;
    margin: 0px;
    padding: 0px 16px;
}

.flex-outer li,
.flex-inner{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.flex-inner{
    padding: 0 8px;
    justify-content: space-between;
}

.flex-outer > li:not(:last-child){
    margin-bottom: 20px;
}

.flex-outer li, label,
.flex-outer li p {
    padding: 8px;
    font-weight: 300;
    letter-spacing: .09em;
}

.flex-outer > li > label,
.flex-outer li p{
    flex: 1 0 125px;
    max-width: 225px;
}

.flex-outer > li > label + *,
.flex-inner {
    flex: 1 0 225px;
}

.flex-outer li p{
    margin: 0;
}

.flex-outer li input:not([type='checkout']),
.flex-outer li textarea{
    padding: 16px;
    border: none;
}

.flex-outer li button{
    padding: 6px 12px;
    border: none;
    background: #444;
    color: #f2f2f2;
    text-transform: uppercase;
    letter-spacing: .09em;
    border-radius: 3px;
}

.flex-inner li {
    width: 80px;
}

