html, body {
    margin: 0;
    padding: 0;
  }
  
html {
    font-size: 10px;
}
  
body {
    font-family: 'Arvo', serif;
    background-color: beige;
}

h1, h2{
    margin: 0;
    padding: 0;
    font-family: 'Arvo', serif;
}

h1{
    font-size: 6rem;
    font-weight: 300;
    text-shadow: -2px 2px #FFA07A;
}

h2{
   font-size: 1.8rem;
   font-weight: 900; 
}


.header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    margin-bottom: 15px;
    padding: 15px;
    background-color: #0032A8;
}

.wrapper{
    margin-right:15px ;
    flex: 0 1 auto;
    margin: 0 auto;
    max-width: 960px;
    flex-wrap: wrap;
    display: flex;
    flex-flow: row wrap;
}

.container{
    margin: 0 auto;
    margin-bottom: 10px;
    max-width: 960px;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    margin-right: 15px;
    flex: 1 0 auto;
}

.imgbox img{
    border: 1px solid #000080;
    border-radius: 4px;
}

.image{
    flex-flow: column wrap;
    flex: 1 0 auto;
    margin-right: 15px;
    flex: 0 1 auto;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    width: 45%;
    max-width: 320;
}

.imgbox{
    margin-right: 15px;
}

.logo{
    max-width: 190;
    max-height: 190;
}

.imgbox p{
    background-color: goldenrod;
    padding: 15px;
    max-width: 320px;
}

.container{
    max-width: 100%;
}

.two{
    background-color: goldenrod;
    padding: 15px;
    max-width: 290;
}

.main-info{
    background: beige;
    padding: 15px;
}

@media only screen and (max-width: 1000px){
    .container{
        justify-content: center;
    }
    .imgbox{
        flex: 1 0 auto;
        margin-right: 0px;
    }
}
