body{
    font: normal 18px/1.5 "Fira Sans", "Helvetica Neue", sans-serif;
    background: #3BBFBA;
    color: #000000;
    padding: 50px 0;
}

.main-image{
    flex-flow: column wrap;
    margin-right: 10px;
}

.main-image p{
    background-color: beige;
    padding: 15px;
    max-width: 290px;
}

.main-info{
    background-color: beige;
    padding: 15px;
}